.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.hero-top img{
    width:568px
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading h1{
    color: #ffffff8f;
    font-family: Cormorant Garamond;
    
    font-style: normal;
    font-weight: lighter;
    line-height: 1.75;
    text-transform: uppercase;
    margin-top: -100px;
    margin-right: -100px;
}
.heading-top{
    /* margin-left: -100px; */
    font-size: 80px;

}
.heading-bottom{
    /* margin-left: 200px; */
    font-size: 46px;
}

.hero-top p{
    color: #898D92;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 144%; /* 31.68px */
text-transform: capitalize;
width: 326px;

margin-bottom: -300px;
}

.hero-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero-bottom p{
    color: #898D92;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.hero-bottom svg{
    position: absolute;
}



@media (max-width:1050px){
    .heading{
        gap: 10px;
    }
    .heading-top{
        font-size: 60px;
        line-height: 2.5;
    
    }
    .heading-bottom{
        /* margin-left: 200px; */
        font-size: 36px;
    }
    .hero-top p{
        font-size: 18px;
        max-width: 250px;
        text-align: center;
    }
    .hero-top img{
        width: 50%;
    }
}


@media (max-width:780px){
    .hero-top{
        flex-direction: column;
    }
    .heading{
        position: absolute;
        margin-left: -600px;
        margin-top: 100px;
    }
    .hero-top p{
        max-width: 700px;
        line-height: normal;
        width: 500px;
        margin-left: -30px;
        margin-right: 10px;
    }
    .hero-bottom{
        margin-top: 300px
    }
}

@media (max-width:620px){
    .hero-top{
        align-items: center;
        justify-content: center;
        flex-direction: column ;
    }
    .heading{
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 0;
        height: fit-content;
        margin-left: -250px;
    }
    .heading h1{
        margin-top: 0;
        
    }
    .heading-top{
        line-height: 0;
    }
    .heading-bottom{
        line-height: 0;
        position: absolute;
        padding-top: 60px;

    }
    .hero-top img{
        width: 95%;
        margin-top: -20px;
        margin-left: -50px;
    }
    .hero-top p{
        max-width: 300px;
    }
    .hero-bottom {
        transform: scale(0.7);
    }
}

@media (max-width:346px){
    .heading{
        margin-left: -200px;
    }
    .heading h1{
        transform: scale(0.85);
    }
    .hero-top p{
        padding: 0;
        font-size: 16px;
        width: 250px;
    }
}