


.whatwedo{
    height: 100vh;
    align-items: center;
    justify-content: c;
    background: linear-gradient(0deg, rgba(13, 15, 17, 0.83) 0%, rgba(13, 15, 17, 0.83) 100%), url("../Assets/whatwedo.png"), lightgray 50% / cover no-repeat;
}